<?xml version='1.0' encoding='UTF-8'?>

<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <timestamp key="byDay" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="CONTAINER" class="ch.qos.logback.core.FileAppender">
        <file>spring-${byDay}.log</file>
        <append>true</append>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

<!--    <logger name="com.digiboy.firmco" level="INFO" additivity="true">-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </logger>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="CONTAINER"/>
    </root>
</configuration>